<ul>
  <li><a href="math-working">Working example</a></li>
  <li><a href="math-buggy">Buggy example</a></li>
</ul>

<p>Note that I do not import the KaTeX stylesheet here. A formula is rendered correctly if it visually appears twice (once in MathML and once in KaTeX rendered output).</p>